/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}


/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #848282;
    background-image: url(img/fundo.gif);
    background-size: cover;
    background-repeat: no-repeat;
}

/* Cabeçalho */
header {
    background-color: #3b3b3b;
    color: #fff;
    text-align: center;
    padding: 2rem 0;


}

.icones-redes {
    width: 200px;

    align-items: end;
    display: flex;
    justify-content: space-between;

    opacity: 0;
    animation: fadeIn 3s ease-in-out forwards;
}

/* animação das letras */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}



.icones-redes a {
    color: #000000
}


.icones-redes a:hover {
    color: #ff0000;
}


.skills img {
    left: 50%;
}

/* Seções */
section {
    padding: 2rem;
    background-color: #fff;
    margin: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}




/* card login */
.login {
    width: 50%;
    height: 70%;
}

.container image {
    width: 60%;
}

.container p {
    width: 300px; 
    color: #fff;
}

.container {
    display: inline-block;
}

/* Estilos das seções (exemplo) */
#sobre {
    padding: 40px;
    background-color: #a08282;
}

/* Estilos para a seção de projetos */

.interface {
    border-radius: 20px;
}

.interface {
    max-width: 1280px;
    margin: 10 auto;
}

.flex {
    display: flex;
}




/* final do site */
footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: #fff;
5